body{
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  opacity: 0.9;
}
a {
  color: seashell;
}
h2, h3, h4 {
  margin: 0;
  padding: 10px;
}
.flxcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Header Format */
header {
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  align-items: center;
}
header img {
  height: 50px;
  padding-left: 10px;
}
header nav{
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
.container {
  width: 1200px;
  margin: auto;
  padding-top: 69px;
}
/* Mission Format */
#mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
}
.missiontitle {
  background-color: black;
  margin: auto;
  flex: 1;
}
/* Tea of the Month Format */
#totm-container {
  width: 1000px;
  margin: 50px auto;
}
.totm {
    padding: 5px;
    margin: 10px;
}
.totm img {
  height: 200px;
  width: 300px;
}
/*Test Container */
#locs-container {
  width:1200px;
  height:500px;
  background-image: url(../images/img-locations-background.jpg);
}
#locs-content {
  margin:auto;
}
#locs-row {
  flex: 1;
}
#locs-box {
  width: 280px;
  background-color: black;
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
}
/*Location Format */
#loc-container {
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
  padding-top: 70px
  border: 1px solid red;
}
#loc-content {
  width: 1200px;
  border: 1px solid purple;
}
#loc-row {
  margin: auto;
}
.location {
  width: 300px;
  background-color: black;
  opacity: 1;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
}
/* Contact Format */
#con-container {
  height: 200px;
}
/*Footer Format */
footer {
  text-align: left;
  margin-left: 20px;
}
